{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}

	<div class="row">
		{% for livre in livres %}
			{# On peut transmettre dans un include, un paramètre, ici on transmet la variable livre qui est utilisée par notre vignette #}
			<div class="col-4 mt-1">
				{{include("/livre/_vignette.html.twig", {livre})}}
			</div>

		{% endfor %}
	</div>

{% endblock %}
